<%= simple_form_for [@cocktail, @dose] do |f| %>
  <% if @dose.errors.any? %>
    <%= @dose.errors.full_messages.join(". ") %>
  <% end %>

  <div class="form-group">
    <%= f.association :ingredient %>
    <%= f.input :description, label: "Quantity"%>
    <%= f.button :submit%>
  </div>


<% end %>
